
.html-wrapper {
  max-width: 800px;
  margin: 80px auto 40px;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.html-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
  color: #394867;
}

.html-description {
  font-size: 1.1rem;
  margin-bottom: 40px;
  color: #555;
  text-align: center;
}

.html-box {
  background-color: #394867;
  color: white;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.html-box.active {
  background-color: #506680;
}

.html-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.html-topic {
  font-size: 1.3rem;
}

.html-content {
  margin-top: 10px;
}

.html-video iframe {
  margin-top: 15px;
  border-radius: 8px;
}

.html-notes {
  margin-top: 15px;
}

.html-notes p {
  margin-bottom: 10px;
}

.html-notes ul {
  list-style: inside;
}

.html-notes li {
  margin-bottom: 5px;
}

html input[type="checkbox"] {
  transform: scale(1.2);
}

html input[type="checkbox"]:checked {
  background-color: #64b5f6;
}
