.page {
  padding: 2rem;
  text-align: center;
  background-color: #f9f9f9;
  width:95%;
  /* min-height: 60vh; */
}

.page h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.page p {
  color: #666;
  font-size: 1.1rem;
}
